<html>
  <head>
    <style></style>
  </head>
  <div
    class="ant-card ant-card-bordered card-layout-front"
    style="
      background-color: rgb(255, 255, 255);
      background-image: url('https://firebasestorage.googleapis.com/v0/b/mobilo-dev-1f409.appspot.com/o/backgroundImage%2FMCC_3299-front?alt=media&amp;token=b7301ee2-b2f5-4afb-bb95-50e6888025c5');
      background-size: cover;
      width: 450px;
      height: 250px;
    "
  >
    <div class="ant-card-body">
      <div
        class="react-draggable"
        style="
          position: absolute;
          user-select: auto;
          width: auto;
          height: auto;
          display: inline-block;
          top: 0px;
          left: 0px;
          cursor: move;
          transform: translate(0px, 0px);
          max-width: 9.0072e15px;
          max-height: 9.0072e15px;
          box-sizing: border-box;
          flex-shrink: 0;
        "
      >
        <input
          hidden=""
          class="ant-input ant-input-sm editable-input"
          type="text"
          value=""
        /><span
          ><div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 100%;
              height: 10px;
              top: -5px;
              left: 0px;
              cursor: row-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 10px;
              height: 100%;
              top: 0px;
              right: -5px;
              cursor: col-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 100%;
              height: 10px;
              bottom: -5px;
              left: 0px;
              cursor: row-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 10px;
              height: 100%;
              top: 0px;
              left: -5px;
              cursor: col-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              right: -10px;
              top: -10px;
              cursor: ne-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              right: -10px;
              bottom: -10px;
              cursor: se-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              left: -10px;
              bottom: -10px;
              cursor: sw-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              left: -10px;
              top: -10px;
              cursor: nw-resize;
            "
          ></div
        ></span>
      </div>
      <div
        class="react-draggable"
        style="
          position: absolute;
          user-select: auto;
          width: auto;
          height: auto;
          display: inline-block;
          top: 0px;
          left: 0px;
          cursor: move;
          transform: translate(0px, 0px);
          max-width: 9.0072e15px;
          max-height: 9.0072e15px;
          box-sizing: border-box;
          flex-shrink: 0;
        "
      >
        <span
          ><div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 100%;
              height: 10px;
              top: -5px;
              left: 0px;
              cursor: row-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 10px;
              height: 100%;
              top: 0px;
              right: -5px;
              cursor: col-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 100%;
              height: 10px;
              bottom: -5px;
              left: 0px;
              cursor: row-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 10px;
              height: 100%;
              top: 0px;
              left: -5px;
              cursor: col-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              right: -10px;
              top: -10px;
              cursor: ne-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              right: -10px;
              bottom: -10px;
              cursor: se-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              left: -10px;
              bottom: -10px;
              cursor: sw-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              left: -10px;
              top: -10px;
              cursor: nw-resize;
            "
          ></div
        ></span>
      </div>
      <div
        class="react-draggable react-draggable-dragged"
        style="
          position: absolute;
          user-select: auto;
          width: auto;
          height: auto;
          display: inline-block;
          top: 0px;
          left: 0px;
          cursor: move;
          transform: translate(238px, 98px);
          max-width: 9.0072e15px;
          max-height: 9.0072e15px;
          box-sizing: border-box;
          flex-shrink: 0;
        "
      >
        <span
          id="firstName"
          class="card-content"
          style="
            font-family: undefined;
            font-size: 24px;
            color: rgb(104, 24, 24);
          "
          >{{ firstName }}</span
        ><span
          ><div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 100%;
              height: 10px;
              top: -5px;
              left: 0px;
              cursor: row-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 10px;
              height: 100%;
              top: 0px;
              right: -5px;
              cursor: col-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 100%;
              height: 10px;
              bottom: -5px;
              left: 0px;
              cursor: row-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 10px;
              height: 100%;
              top: 0px;
              left: -5px;
              cursor: col-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              right: -10px;
              top: -10px;
              cursor: ne-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              right: -10px;
              bottom: -10px;
              cursor: se-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              left: -10px;
              bottom: -10px;
              cursor: sw-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              left: -10px;
              top: -10px;
              cursor: nw-resize;
            "
          ></div
        ></span>
      </div>
      <div
        class="react-draggable react-draggable-dragged"
        style="
          position: absolute;
          user-select: auto;
          width: auto;
          height: auto;
          display: inline-block;
          top: 0px;
          left: 0px;
          cursor: move;
          transform: translate(317px, 98px);
          max-width: 9.0072e15px;
          max-height: 9.0072e15px;
          box-sizing: border-box;
          flex-shrink: 0;
        "
      >
        <span
          id="lastName"
          class="card-content"
          style="
            font-family: undefined;
            font-size: 24px;
            color: rgb(117, 16, 16);
          "
          >{{ lastName }}</span
        ><span
          ><div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 100%;
              height: 10px;
              top: -5px;
              left: 0px;
              cursor: row-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 10px;
              height: 100%;
              top: 0px;
              right: -5px;
              cursor: col-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 100%;
              height: 10px;
              bottom: -5px;
              left: 0px;
              cursor: row-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 10px;
              height: 100%;
              top: 0px;
              left: -5px;
              cursor: col-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              right: -10px;
              top: -10px;
              cursor: ne-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              right: -10px;
              bottom: -10px;
              cursor: se-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              left: -10px;
              bottom: -10px;
              cursor: sw-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              left: -10px;
              top: -10px;
              cursor: nw-resize;
            "
          ></div
        ></span>
      </div>
      <div
        class="react-draggable react-draggable-dragged"
        style="
          position: absolute;
          user-select: auto;
          width: auto;
          height: auto;
          display: inline-block;
          top: 0px;
          left: 0px;
          cursor: move;
          transform: translate(259px, 135px);
          max-width: 9.0072e15px;
          max-height: 9.0072e15px;
          box-sizing: border-box;
          flex-shrink: 0;
        "
      >
        <span
          id="email"
          class="card-content"
          style="font-family: undefined; font-size: 18px; color: rgb(0, 0, 0)"
          >{{ email }}</span
        ><span
          ><div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 100%;
              height: 10px;
              top: -5px;
              left: 0px;
              cursor: row-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 10px;
              height: 100%;
              top: 0px;
              right: -5px;
              cursor: col-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 100%;
              height: 10px;
              bottom: -5px;
              left: 0px;
              cursor: row-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 10px;
              height: 100%;
              top: 0px;
              left: -5px;
              cursor: col-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              right: -10px;
              top: -10px;
              cursor: ne-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              right: -10px;
              bottom: -10px;
              cursor: se-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              left: -10px;
              bottom: -10px;
              cursor: sw-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              left: -10px;
              top: -10px;
              cursor: nw-resize;
            "
          ></div
        ></span>
      </div>
      <div
        class="react-draggable react-draggable-dragged"
        style="
          position: absolute;
          user-select: auto;
          width: auto;
          height: auto;
          display: inline-block;
          top: 0px;
          left: 0px;
          cursor: move;
          transform: translate(84px, 226px);
          max-width: 9.0072e15px;
          max-height: 9.0072e15px;
          box-sizing: border-box;
          flex-shrink: 0;
        "
      >
        <span
          id="mobilePhone"
          class="card-content"
          style="font-family: undefined; font-size: 14px; color: rgb(0, 0, 0)"
          >{{ mobilePhone }}</span
        ><span
          ><div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 100%;
              height: 10px;
              top: -5px;
              left: 0px;
              cursor: row-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 10px;
              height: 100%;
              top: 0px;
              right: -5px;
              cursor: col-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 100%;
              height: 10px;
              bottom: -5px;
              left: 0px;
              cursor: row-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 10px;
              height: 100%;
              top: 0px;
              left: -5px;
              cursor: col-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              right: -10px;
              top: -10px;
              cursor: ne-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              right: -10px;
              bottom: -10px;
              cursor: se-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              left: -10px;
              bottom: -10px;
              cursor: sw-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              left: -10px;
              top: -10px;
              cursor: nw-resize;
            "
          ></div
        ></span>
      </div>
      <div
        class="react-draggable react-draggable-dragged"
        style="
          position: absolute;
          user-select: auto;
          width: auto;
          height: auto;
          display: inline-block;
          top: 0px;
          left: 0px;
          cursor: move;
          transform: translate(7px, 226px);
          max-width: 9.0072e15px;
          max-height: 9.0072e15px;
          box-sizing: border-box;
          flex-shrink: 0;
        "
      >
        <span
          id="workPhone"
          class="card-content"
          style="font-family: undefined; font-size: 14px; color: rgb(0, 0, 0)"
          >{{ workPhone }}</span
        ><span
          ><div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 100%;
              height: 10px;
              top: -5px;
              left: 0px;
              cursor: row-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 10px;
              height: 100%;
              top: 0px;
              right: -5px;
              cursor: col-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 100%;
              height: 10px;
              bottom: -5px;
              left: 0px;
              cursor: row-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 10px;
              height: 100%;
              top: 0px;
              left: -5px;
              cursor: col-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              right: -10px;
              top: -10px;
              cursor: ne-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              right: -10px;
              bottom: -10px;
              cursor: se-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              left: -10px;
              bottom: -10px;
              cursor: sw-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              left: -10px;
              top: -10px;
              cursor: nw-resize;
            "
          ></div
        ></span>
      </div>
      <div
        class="react-draggable"
        style="
          position: absolute;
          user-select: auto;
          width: auto;
          height: auto;
          display: inline-block;
          top: 0px;
          left: 0px;
          cursor: move;
          transform: translate(0px, 0px);
          max-width: 9.0072e15px;
          max-height: 9.0072e15px;
          box-sizing: border-box;
          flex-shrink: 0;
        "
      >
        <span
          ><div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 100%;
              height: 10px;
              top: -5px;
              left: 0px;
              cursor: row-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 10px;
              height: 100%;
              top: 0px;
              right: -5px;
              cursor: col-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 100%;
              height: 10px;
              bottom: -5px;
              left: 0px;
              cursor: row-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 10px;
              height: 100%;
              top: 0px;
              left: -5px;
              cursor: col-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              right: -10px;
              top: -10px;
              cursor: ne-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              right: -10px;
              bottom: -10px;
              cursor: se-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              left: -10px;
              bottom: -10px;
              cursor: sw-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              left: -10px;
              top: -10px;
              cursor: nw-resize;
            "
          ></div
        ></span>
      </div>
      <div
        class="react-draggable react-draggable-dragged"
        style="
          position: absolute;
          user-select: auto;
          width: auto;
          height: auto;
          display: inline-block;
          top: 0px;
          left: 0px;
          cursor: move;
          transform: translate(342px, 158px);
          max-width: 9.0072e15px;
          max-height: 9.0072e15px;
          box-sizing: border-box;
          flex-shrink: 0;
        "
      >
        <span
          id="title"
          class="card-content"
          style="
            font-family: undefined;
            font-size: 18px;
            color: rgb(138, 25, 25);
          "
          >{{ title }}</span
        ><span
          ><div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 100%;
              height: 10px;
              top: -5px;
              left: 0px;
              cursor: row-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 10px;
              height: 100%;
              top: 0px;
              right: -5px;
              cursor: col-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 100%;
              height: 10px;
              bottom: -5px;
              left: 0px;
              cursor: row-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 10px;
              height: 100%;
              top: 0px;
              left: -5px;
              cursor: col-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              right: -10px;
              top: -10px;
              cursor: ne-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              right: -10px;
              bottom: -10px;
              cursor: se-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              left: -10px;
              bottom: -10px;
              cursor: sw-resize;
            "
          ></div>
          <div
            class=""
            style="
              position: absolute;
              user-select: none;
              width: 20px;
              height: 20px;
              left: -10px;
              top: -10px;
              cursor: nw-resize;
            "
          ></div
        ></span>
      </div>
      <div
        class="__resizable_base__"
        style="
          width: 100%;
          height: 100%;
          position: absolute;
          transform: scale(0, 0);
          left: 0px;
          flex: 0 1 0%;
        "
      ></div>
    </div>
  </div>
</html>
